SERVICE_NAME=s3-service
ENVIRONMENT=local

RSYSLOG_DESTINATIONS=localhost:514

REDIS_NODES=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_SSL=false

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USERNAME=root
MONGO_PASSWORD=pass
MONGO_AUTH_DB=admin
MONGO_DB_NAME=graphql_db
MONGO_AUDIT_COLLECTION=s3_audit_logs

S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=us-east-1
S3_SECURE=false
S3_ADDRESSING_STYLE=path

USER_BUCKET=uploads
RECRUITMENT_BUCKET=recruitment
